<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>TweetData</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="site.webmanifest">
        <link rel="shortcut icon" type="image/x-icon" href="Twitter.ico" />
        <link rel="apple-touch-icon" href="icon.png">
        <link rel="stylesheet" href="styles/style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css"> <!-- Google Material Design -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> <!-- Google Material Icons -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet"> <!-- Google Font -->
        <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css"> <!-- Material Design Lite -->
	     	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="js/validate.js"></script>
        <script src="js/login.js"></script>

    </head>

    <body ng-app="RegionsApp">

        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
          <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">

              <span class="mdl-layout-title">Home</span>

              <div class="mdl-layout-spacer"></div>

              <nav class="mdl-navigation">

                <button id="appBarHam" class="mdl-button mdl-js-button mdl-button--icon">
                  <i class="material-icons">more_vert</i>
                </button>
                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="appBarHam">
                  <a>
                        <li class="mdl-menu__item" onclick="help();">Help</li>
                  </a>
                  <a href="index.html">
                      <li class="mdl-menu__item">Refresh</li>
                  </a>
                  <a href="">
                      <li class="mdl-menu__item">Sign Out</li>
                  </a>
                </ul>
              </nav>
            </div>
          </header>
          <div class="mdl-layout__drawer mdc-drawer">
            <div class="mdc-drawer__header">
                <h3 class="mdc-drawer__title">Navigation</h3>
                <h6 class="mdc-drawer__subtitle">Twitter</h6>
            </div>
            <div class="mdc-drawer__content">

                <nav class="mdc-list">
                    <a class="mdc-list-item mdc-list-item--activated" href="index.html" aria-current="page">
                        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">home</i>
                        <span class="mdc-list-item__text">Home</span>
                    </a>
                    <a class="mdc-list-item" href="topics.html">
                        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">format_list_bulleted</i>
                        <span class="mdc-list-item__text">Topics</span>
                    </a>
                    <a class="mdc-list-item" href="trending.html">
                        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">search</i>
                        <span class="mdc-list-item__text">Search</span>
                    </a>
                    <a class="mdc-list-item" href="contactadmin.html">
                        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">contact_mail</i>
                        <span class="mdc-list-item__text">Contact Admin</span>
                    </a>
                </nav>

            </div>
            </div>
            <main class="mdl-layout__content">

                <div class="page-content">

                    <br>

                    <div class="container">
                      <canvas id="myChart" style="width: 100%;"></canvas>
                    </div>

                    <div style="padding: 15px;" align="center">

                      <h3>Select Region</h3>

                      <div ng-controller="RegionsController">
                        <div align="center">
                          <main class="mdl-layout__content">

                            <div class="input-group" id="searchBar">

                              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">

                                <input class="mdl-textfield__input" type="text" id="regionSearch" ng-model="query">
                                <label class="mdl-textfield__label" for="regionSearch">Search</label>

                              </div>

                            </div>

                          </main>
                          <div class="tableWrapper">
                            <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                              <thead>
                                <tr>
                                  <th class="mdl-data-table__cell--non-numeric" style="font-size: 15px;">Region Name</th>
                                  <th style="font-size: 15px;">ID</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr ng-repeat="region in regions | filter:{ name: query }" ng-click="WOEID_clicked(region.woeid, region.name)">
                                    <th>{{ region.name }}</th>
                                    <th>{{ region.woeid }}</th>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>

                    </div>

                </div>

            <!-- FAB share button -->
            <div ng-controller="RegionsController">
              <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect fixedbutton" style="background-color: #03dac5; color: black;" ng-click="share(regions);" ng-model="query">
                <i class="material-icons">share</i>
              </button>
            </div>

            <footer class="mdl-mini-footer" style="margin-top: 500px;">
              <div class="mdl-mini-footer__left-section">
                <div class="mdl-logo">Copyright Twitter, © 2019</div>
                <ul class="mdl-mini-footer__link-list">
                  <li><a href="#">Help</a></li>
                  <li><a href="#">Privacy & Terms</a></li>
                  <li><a href="#">Support</a></li>
                </ul>
              </div>
            </footer>

            </main>

        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
        <script src="js/chart.js"></script>
        <script srf="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script> <!-- Google Material Design -->
        <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script> <!-- Material Design Lite -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    		<script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    		<script src="js/app.js"></script>
        <script src="js/regions_app.js"></script>
    		<script src="js/controllers/regionController.js"></script>
    		<script src="js/factories/regionFactory.js"></script>

        <script>

          function help() {

            alert("You can view graphs from this page, search using the sear bar or navigate to other pages using the menu expandable though the button on the top left.");
          }

        </script>

    </body>

</html>
