#webApp{
    width: 90%;
    height: auto;
    margin: 10px;
    padding: 10px;
    font-family: Arial, sans-serif;
}

#sideBar{
    height: 100vh;
    width: 200px;
    background-color: #6CC2EE;
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
}

#sideBarItems{
    padding: 20px;
    width: auto;
    height: auto;
}

#content{
    margin-left: 200px;
    width: 90%;
    height: auto;
    align-items: center;
    position: relative;
    display: block;
}

#chartContainer{
    width: 100%;
    height: auto;
    display: inline-block;
}

#search{
    width: 75%;
    height: 40px;
    position: absolute;
    align-items: center;

}

.searchBox{
    display: inline-block;
    width: 100%;
    border-radius: 15px;
    border: 1px darkblue solid;
    padding: 5px 5px 5px 25px;
    position: absolute;
    margin: auto;
    
}

.searchIcon{
    z-index: 1;
    position: absolute;
    top: 10px;
    left: 5px;
}

.title{
    display: block;
    text-align: center;
}

.sideBarItem{
    display: block;
    text-align: center;
    position: relative;
    padding: 10px;
    margin-top: 40px;
    color: white;
}

.sideBarItem:hover{
    color: #1CA1F0;
    cursor: pointer;
}

i:hover{
    cursor: pointer;
}