
/* ---- MODAL ---- */

/* CSS for the Modals found on the site (think layout, elevation of the modal, etc) */

.modal-content {
  background-color: #323a45;
  margin: auto;
  padding: 25px;
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.modal-backdrop {
    z-index: 100000 !important; /* keeps modal above nav bar */
}

.modal {
    z-index: 100001 !important; /* keeps modal above nav bar */

}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Misc CSS */

button.fixedbutton {
    position: fixed;
    bottom: 8%;
    right: 7%; 
}

/* Canvas CSS */

canvas{

  width:115% !important;
  height:100% !important;

}

p.graphTitle {

  font-family: Roboto;
  font-size: 25px;
  color: grey;
}

/* Material Accordion CSS */

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}


/* General Body/Html CSS */

body, html {
  height: 100%;
}

.bg { 
  
  background-image: url("mountain.jpg");

  height: 100%; 

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

a {

  text-decoration: none !important;
}


/* Card Based CSS */

.card_width_dynamic {

  width: 515px !important;
}

/* Mobile and "Thin Window" Styling */
@media only screen and (max-width: 740px) {
  .card_width_dynamic {

    width: 300px !important;
  }

  canvas{

    width:140% !important;
    height:150% !important;
  }

  .tweet{
    display: block;
    position: relative;
    padding: 0 !important;
  }
 
  #smallTable{
    display: block;
    position: relative;
    bottom: 500 !important;
    top: 0 !important;
  }
  
}

.tweet{
  display: inline-block;
  position: relative;
  padding: 10px;
}

.tableWrapper{
  overflow-y: auto;
  display: inline-block;
  max-height: 500px;
  height: auto;
}

.clickable:hover{
  cursor: pointer;
}

.clicked{
  background-color: lightblue;
}

/* ---- GRID ---- */

/* CSS used in the grid (think items and general sizing/layout) */


.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-sizer {
  margin-bottom: 50px;
}

.grid-container {

  
}

.grid-item {
  margin-bottom: 50px;
  margin-left: 1%;
  margin-right: 1%;
  float: left;
  border: 10px;
  display: block;
}

/* Mobile and "Thin Window" Styling */
@media only screen and (max-width: 640px) {

  .grid-item {
    margin-bottom: 50px;
    width: 90% !important;
    margin-left: 5%;
    margin-right: 5%;
    float: left;
    display: block;
  }

}

.card-deck{
  text-align: center;
  padding: 2em;
  text-decoration-color: #aaaaaa;
}
.input-group,h3{
  position: absolute;
  left: 100px;
}
.mainTable{
  position: absolute;
  left:100px;
}
.indexContainer{
  position:absolute;
  right:100px;
}
h3{
  border: none;
  color: gray;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s ease-in-out;
}
h3:hover {
  opacity: 1;
  transform: scale(1.1);
}
#submitSearch {
  display: inline-block;
  padding: 15px 25px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: rgb(63,81,181);
  border: none;
  border-radius: 15px;
  box-shadow: 0 2px #999;
} 
#submitSearch:hover{
  background-color: #3e438e
}
#submitSearch:active {
  background-color: #3e538e;
  box-shadow: 0 2px rgb(102, 102, 102);
  transform: translateY(2px);
}